$color-primary: #572ee5;
$color-white: #fff;
$color-secondary: #50e3c2;
// $color-button: #50e3c2;
$color-active: #9cafc3;

$font-monserrat: 'Montserrat', sans-serif;
$font-roboto: 'Roboto', sans-serif;

//Responsive breakpoints

$bp-largest: 75em; //1200px / 16px default fontsize
$bp-medium: 56.25em; //900px
$bp-small: 37.5em; //600px
// $bp-mobile: 23.45em; //375px
