*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

@media only screen and (min-width: 37.5em) {
  html {
    font-size: 50%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

@media only screen and (min-width: 37.5em) {
  body {
    overflow-x: hidden;
  }
}

.color-heading {
  color: #572ee5;
}

.color-heading-secondary {
  color: #50e3c2;
}

.navigation__list {
  font-size: 1.6rem;
}

.main__search--heading-title {
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
}

.main__search--heading-paragraph {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}

.main__trending--gifos-title {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
}

.main__trending--gifos-paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

@media only screen and (min-width: 37.5em) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 3rem 0 3rem;
    width: 100vw;
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.navigation__checkbox {
  display: none;
}

.navigation__logo {
  padding: 1rem 1.6rem;
}

.navigation__button {
  margin: 1rem 1.6rem;
  justify-self: flex-end;
  margin-left: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  right: 0;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
}

@media only screen and (min-width: 37.5em) {
  .navigation__button {
    display: none;
  }
}

.navigation__background {
  position: absolute;
  top: 7rem;
  height: 0;
  width: 100%;
  background-color: rgba(87, 46, 229, 0.8);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media only screen and (min-width: 37.5em) {
  .navigation__background {
    visibility: hidden;
    height: 100vh;
  }
}

.navigation__nav {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media only screen and (min-width: 37.5em) {
  .navigation__nav {
    opacity: 1;
    visibility: visible;
  }
}

.navigation__list {
  position: absolute;
  top: 8rem;
  left: 0;
  list-style: none;
}

@media only screen and (min-width: 37.5em) {
  .navigation__list {
    position: relative;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60vw;
  }
}

.navigation__item {
  line-height: 5rem;
  width: 100vw;
}

@media only screen and (min-width: 37.5em) {
  .navigation__item {
    padding: 0.8rem;
    margin: 1.6rem 1rem;
    width: 100%;
  }
}

.navigation__link {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
}

.navigation__link::after {
  content: '';
  display: block;
  border-bottom: 1px;
  margin: 0 auto;
  background-color: #d8d8d8;
  height: 2px;
  width: 0px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

@media only screen and (min-width: 37.5em) {
  .navigation__link::after {
    background-color: #50e3c2;
  }
}

.navigation__link:hover::after {
  width: 5rem;
}

@media only screen and (min-width: 37.5em) {
  .navigation__link {
    color: #572ee5;
  }
  .navigation__link:active {
    color: #9cafc3;
  }
  .navigation__link:hover::after {
    width: 50%;
  }
}

.navigation__icon {
  position: relative;
  top: 50%;
}

.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 1.8rem;
  height: 2px;
  background: #060a24;
  display: block;
}

@media only screen and (min-width: 37.5em) {
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    display: none;
  }
}

.navigation__icon::before, .navigation__icon::after {
  content: '';
  position: absolute;
  left: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media only screen and (min-width: 37.5em) {
  .navigation__icon::before, .navigation__icon::after {
    display: none;
  }
}

.navigation__icon::before {
  top: -0.5rem;
}

.navigation__icon::after {
  top: 0.5rem;
}

.navigation__button:hover .navigation__icon::before {
  top: -0.7rem;
}

.navigation__button:hover .navigation__icon::after {
  top: 0.7rem;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}

@media only screen and (min-width: 37.5em) {
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    display: none;
  }
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

@media only screen and (min-width: 37.5em) {
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    display: none;
  }
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

@media only screen and (min-width: 37.5em) {
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    display: none;
  }
}

.navigation__checkbox:checked ~ .navigation__background {
  width: 100%;
  height: 100vh;
}

.navigation__checkbox:checked ~ .navigation__nav {
  visibility: visible;
  opacity: 1;
}

.main__search--heading {
  width: 70%;
  margin: 0 auto;
  padding: 3rem 0 5rem 0;
}

.main__search--gifos {
  padding-bottom: 5rem;
}

.main__search--gifos-mainImage {
  width: 80%;
}

@media only screen and (min-width: 37.5em) {
  .main__search--gifos-mainImage {
    width: 50%;
  }
}

@media only screen and (min-width: 56.25em) {
  .main__search--gifos-mainImage {
    width: 30%;
  }
}

.main__search--heading-trending {
  padding-bottom: 5rem;
}

.search__input {
  width: 85%;
  padding: 12px 24px;
  font-family: "Roboto", sans-serif;
  background-color: transparent;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  font-size: 1.6rem;
  line-height: 1.8rem;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  color: #575756;
  background-image: url("../../assets/icon-search.svg");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 50px;
  border: 1px solid #572ee5;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.search__input::-webkit-input-placeholder {
  color: color(#575756 a(0.8));
  font-family: "Roboto", sans-serif;
  letter-spacing: 1.5px;
}

.search__input:-ms-input-placeholder {
  color: color(#575756 a(0.8));
  font-family: "Roboto", sans-serif;
  letter-spacing: 1.5px;
}

.search__input::-ms-input-placeholder {
  color: color(#575756 a(0.8));
  font-family: "Roboto", sans-serif;
  letter-spacing: 1.5px;
}

.search__input::placeholder {
  color: color(#575756 a(0.8));
  font-family: "Roboto", sans-serif;
  letter-spacing: 1.5px;
}

.search__input:hover, .search__input:focus {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #572ee5;
  border-radius: 0;
  background-position: 100% center;
}

.search__input:focus {
  background-image: url("../../assets/close.svg");
}

@media only screen and (min-width: 37.5em) {
  .search__input {
    width: 60%;
  }
}

@media only screen and (min-width: 56.25em) {
  .search__input {
    width: 35%;
  }
}

.main__trending {
  line-height: 3rem;
  background-color: #f3f5f8;
}

.main__trending--gifos {
  line-height: 2rem;
}
/*# sourceMappingURL=main.css.map */